html,body{
  background: #006747;
}


.btn a{
  position: relative;
  color: #DA291C;
  height: 325px;
  width: 325px;
  line-height:325px;
  display: block;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
}
.btn a:hover{
	background-image: linear-gradient(115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
	animation: rotate 0.4s linear infinite;
}

.btn:hover::after {
    content: " ";
    display:block;
    left: 50%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 282px;
	width: 282px;
	background-color: #DA291C;
	border-radius: 50%;
	position: fixed;
	pointer-events: none;
	transform: translate(-50%, -50%);
}

.btn audio { position: absolute; left: 110%; top: 10px; display: block; height: 30px; width: 200px; }

@keyframes rotate {
  100%{
    filter: hue-rotate(-360deg)
  }
}
.btn a span{
  height: 88%;
  width: 88%;
  background: #DA291C;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  line-height: 62px;
  font-size: 25px;
  transform: translate(-50%, -50%);
}
